body, header, nav, main, footer, h1, div, img {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color:  #000;
}

img {
    max-width: 100%;
    display: block;
}

header {
    width: 25%;
    float: left;
}

nav {
    width: 70%;
    float: right;
    margin: 5em 3em 0 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

nav li {
    display: inline-block;
    font-size: 1.5em;
    font-family: Verdana, Arial, sans-serif;
    font-weight: bold;
}

nav li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5em 1em;
    text-decoration: none;
}

.action {
    font-size: 1.35em;
    color: #666000;
    font-weight: bold;
}

main {
    clear: left;
    background-color: #fff;
    padding: 2%;
    font-size: 1.25em;
}

#culture, #balloon, #nightlife {
    width: 29%;
    float: left;
    margin: 0 2%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
  }
  
tr:hover {
    background-color: #D6EEEE;
}

#exercises {
    clear: left;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background-color: #f2f2ff;
    padding: 1% 2%;
}

#exercises dt {
    font-weight: bold;
}

#exercises dd {
    padding: 0.5% 1% 2% 0;
}

.external-link {
    color: #666000;
    font-weight: bold;
    text-decoration: none;
}

#contact {
    text-align: center;
}

#contact a {
    color: #666000;
    text-decoration: none;
}

.map {
    border: 8px solid #000;
}

footer p {
    font-size: 0.75em;
    text-align: center;
    color: #fff;
    padding: 0 1em;
}

footer a {
    color: #fff;
    text-decoration: none;
}

ul {
    list-style-type: square;
}

ol {
    list-style-type: upper-roman;
}

/*three column layout*/

* {
    box-sizing: border-box;
}
div.col{
    float: left;
    width: 33.33%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

div.row{
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 20%;
}

div.col img {
    width: 100%;
}

p {
    clear: both;
}

/* button animation*/
.button {
    background-color: blue;
    border: none;
    padding:  16px 32px;
    text-align: center;
    font-size: 16px;
    color: white;
    margin: 4px 2px;
    transition: 0.3s;
    cursor: pointer;
}

.button:hover {
    opacity: 0.5;
}

/* CSS Grid*/
.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    clear: both;
}

.grid_item img {
    width: 100%;
}

.grid_item {
    padding: 20px;
}

.flip {
    transition: 1.5s ease; /* speed and style of transition */
}

.flip:hover {
    transform: scaleX(-1); /* Flipping on x-axis */
}

.zoom {
    transition: .5s ease; /* speed and style of transition */
}

.zoom:hover {
    transform: scale(1.2); /* size of zoom out */
}