.mytitle{
   
    background-image: url(media/revolver.jpg);
    background-color: white;
    background-size: 100%;
    background-repeat: no-repeat;
    margin-left: auto !important;
    margin-right: auto !important;
    background-position-y: 20%;
    padding-top: 35% !important;
}
 
.mytitle h1{
    text-align: center;
    
    background-color: white;
}

.myform{
    margin-left: auto !important;
    margin-right: auto !important;
}

.centreit {
    margin: 0 auto;
    width: 120px;
}

.centreit input{
    width: 100%;
}

@media (max-width: 40rem){
    .row .column.column-60 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mytitle h2{

        padding-top: 20%;
    }
    

}


