form {
    /* Center the form on the page */
    margin: 10px auto;
    width: 90%;
    /* Form outline */
    padding: 1em;
    border: 1px solid #CCC;
    overflow: hidden;
}

label {
    display: inline-block;
    width: 20%;
    text-align: right;
}

input,  textarea {
    font: 1em sans-serif;
    width: 70%;
    box-sizing: border-box;
    /* Match form field borders */
    border: 1px solid #999;
    margin-top:10px;
}

input:focus, textarea:focus {
    /* Additional highlight for focused elements */
    border-color: #000;
}

textarea {
    /* Align multiline text fields with their labels */
    vertical-align: top;

    /* Provide space to type some text */
    height: 5em;
}

.button {
    /* Align buttons with the text fields */

    float:right;
    width:220px;

}
