

#head {
    width: 70%;
    margin: auto;
    font-size: xx-large;
    align-content: center;
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    width: 70%;
    margin: auto;
    font-size: medium;
    align-content: center;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.main li {
    padding: 10px;
}