body {
    margin: 0%;
    padding: 0%;
}

.container {
    display: flex;
    justify-content: center;
}

.outer-panel {
    width: 60%;
    padding: 2% 5%;
    background-color: lightgrey;
    min-width: 350px;
}

.inner-panel{
    box-shadow: 1px 2px 10px black;
    background-color: white;
    padding: 2%;
    min-width: 300px;
}

.biotitle {
    font-family: 'Permanent Marker', cursive;
}