.center {
    text-align: center;
}

.container-width {
    width: 60%;
}

.button-primary.button-outline.button-black,
.button.button-black.button-outline {
  border-color: black;
  background-color: transparent;
  color: black;
  font-size: 1.4rem;
  height: 4.5rem;
  line-height: 4.5rem;
  padding: 0 2rem;
}
