.head {
    float: right;
    padding: 2em 0 1em 0;
    font-size: 3em;

}

td .button{
    float: right;
    margin-bottom: 1em;
}

td {
    padding: 1em;
}

th {
    border-bottom: none;
    padding-bottom: 2em;
    font-size: 2.5em;
    font-weight: 100;
}

.househead {
    border-bottom: none;
    padding-bottom: 1em;
    font-size: 1.5em;
    font-weight: 100;
}

.housebody {
    border-bottom: none;
}

.housebutton {
    float: right;
}

img {
    max-width: 100%;
}

.calbu {
    float: right;
}

/*  */
@media(min-width: 350px) {

}