.mycontainer{
    width:100%;
}

.mynomargin {
	margin-bottom: 0px;
}

.myboldfont {
	font-weight: bold;
}

#myshowcase{
	background-image:url('../img/process.jpg');
	background-repeat: no-repeat;
	background-position:0px -100px;
	background-size: 60%;
	min-height:200px;
	margin-bottom:30px;
	text-align: center;
	background-color:#46EDFF;
    overflow: hidden;
}

#myshowcase h1{
	color:rgb(0, 0, 0);
	font-size:50px;
	line-height: 1.6em;
	padding-top:30px;
	font-weight: bold;
}

.myextrapadding {
	padding: 0px 30px 0px 30px;
}

#mymaintext {
	font-size: 1.5em;
	font-weight: bold;
}

.myotherpadding {
	padding: 10px;
}