.pagehead {
    padding-top: 2.5em;
}

.container {
    width: 80%;
    margin: auto;
}

.propertyimg {
    width: 100%;
}

.back {
    padding-top: 5em;
}

.formtitle h3{
    font-size: 1.5em;
    font-weight: lighter;
}