.myparagraph {
    padding: 40px;
    font-weight: bold;
}

.footer .container {
    padding: none;
    width: 100%;
    font-weight: normal;
    max-width: 100%;
}

.footer .container h3 {
    font-size: 1em;
    margin-right: 1em;
    padding-top: 1em;
    letter-spacing: normal;
    
}

.formfield {
    border: none;
}

.maincontent {
    background-color: rgb(240, 240, 240);
}
