body {
    margin: 0;
}
#content {
    margin: 20px auto;
    border: 5px solid red;
    width: 80%;
    padding: 30px 15px 40px 15px;
    height: 300px;
}

#leftpane, #centrepane, #rightpane {
    width: 30%;
    border: solid darkgreen;
    float: left;
    background-color: lightgreen;
    color: blue;
    margin: 5px;
    padding: 5px 5px 50px 5px;
}

#centrepane {
    border: solid black;
}

#rightpane {
    border: solid darkgray;
}
