body{
    font-family: 'arial';
	
}

header{
	width:150px;
	margin: 0 auto;
	font-size: 30pt;
}

.box{

	background-color: #18457c;
	
	color:#ffffff;
	
	font-size: 18pt;
	
	font-weight: normal;
	
	text-align: center;
	
	}

	.box1{

		background-color:black;
		
		color:#ffffff;
		
		font-size: 12pt;
		
		font-weight: normal;
		
		text-align: left;

		padding: 0.3em;
		
		}
