    .container {
    width: 100%;
}

.demo {
    background-color: black;
    height: 6em;
    color: white;
}

.content {
    width: 80%;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
}

#urlbutton {
    width: 20%;
    padding: .5em;
    margin: 1em;
}

.flex button {
    background-color: lightslategray;
    color: white;
}

#urlbutton:hover {
    background-color: white;
    color: black;
}
