body {
    margin: 0;
}
#content {
    margin: 20px auto;
    border: 5px solid red;
    width: 80%;
    padding: 30px 15px 40px 15px;
    height: 300px;
}

#leftpane #centrepane #rightpane {
    width: 30%;
    border: 5px solid darkgreen;
    float: left;
    margin: 5px;
}

