body {
    background-color: black;
}

h1 {
    color: gray;
    margin: 50px;
}

.card {
    background-color: black;
    color:gray;
	margin: 50px;
	
}

.navbar {
    background-color: black;
}

#mainContent {
    background-color: #FFFFFF;
    margin-left: 170px;
    padding: 10px 20px 20px 10px;
    background-image:url(img/mainBack.jpg);
    background-repeat:no-repeat;
    background-position:right top;
 }

 h3 {
    color: gray;
    margin: 50px;
}



